.main-content {
  background: #f5f5f5;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  height: 93vh;
}

.mat-toolbar {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background-color: white;
  color: #ff9933;
}

.logo {
  width: 65px;
}

#usuario-container{
  display: inline-flex;
  float: left;
}

#usuario-field{
  width: 10rem;
  font-size: .9rem;
  display: inline-flex;
  padding-top: 1rem;
}

#product-container {
  padding: 15px;
}

#sacola-container {
  background: white;
  padding: 30px;
}

#valores-compra {
  float: right;
}

#container-title {
  font-weight: 700;
  letter-spacing: 0.0625rem;
}

#container-title::after {
  background-color: #f93;
  height: 0.125rem;
  margin: 0.5rem auto 0;
  width: 3.75rem;
}

#sacola-table {
  width: 100%;
  box-shadow: none;
}

#frete-container {
  display: inline-flex;
}

#sacola-button, #usuario-button {
  margin-left: 50px;
}

.slide {
  margin: 1rem;
}

.recommendation-card {
  animation-timing-function: linear;
}

.mat-card-title {
  font-size: 1rem;
}

.card-image {
  justify-content: center;
  display: flex;
  width: 100%;
}

.card-image img {
  max-width: 250px;
}

.footer-card {
  margin: 4px;
  display: flex;
  justify-content: center;
}

#recommendation-button {
  justify-content: center;
}

::ng-deep.owl-prev {
  background-color: #ff912e !important;
}

::ng-deep.owl-next {
  background-color: #ff912e !important;
}

::ng-deep.owl-dot.active span {
  background-color: #ff912e !important;
}
